@page "/counter"
@using Microsoft.AspNetCore.Components.QuickGrid;
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Curddrent count: @currentCount</p>

<input @bind="searchText" placeholder="Search..." />
@if (showTable)
{
   
    <QuickGrid Class="table table-bordered table-hover" TGridItem="tableData" Items="FilteredItems" Pagination="@pagination">
        <PropertyColumn Property="@(x => x.First)" Title="First Name" Sortable="true" />
        <PropertyColumn Property="@(x => x.Last)" Title="Last Name" Sortable="true" />
        <PropertyColumn Property="@(x => x.Handle)" Title="Handle" Sortable="true" />
    </QuickGrid>
    <Paginator State="@pagination" />

}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="toggle">Toggle</button>

@code {
    PaginationState pagination = new()
    {
        ItemsPerPage = 5
    };
    
    IQueryable<tableData> FilteredItems =>
            data.AsQueryable().Where(x => x.First.Contains(searchText, StringComparison.OrdinalIgnoreCase));

    private string searchText = string.Empty;
    private class tableData
    {
        public int Id { get; set; }
        public string First { get; set; }
        public string Last { get; set; }
        public string Handle { get; set; }
    }
    private List<tableData> data = new();
    private int currentCount = 0;
    bool showTable = false;

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < 10; i++)
        {
            data.Add(new tableData { Id = i, First = $"First{i}", Last = $"Last{i}", Handle = $"@handle{i}" });
        }
    }
    private void IncrementCount()
    {
        currentCount++;
    }
    public void toggle()
    {
        showTable = !showTable;
    }
}
