@page "/login"
@inject HttpClient Http
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject NavigationManager NavigationManager
@inject BlazorGrid.Services.QueryParamProtector Protector
@using System.ComponentModel.DataAnnotations

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm w-100" style="max-width:400px">
        <h1 class="text-center fw-bold mb-2">AUTH APP</h1>

        @if(!isWaiting2FA){
            <h4 class="text-center mb-3">Login</h4>
        }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }

        @if (isWaiting2FA)
        {
            <div class="slide-from-right">
                <h4 class="text-center mb-3">Login in process</h4>
                <div class="text-center">
                    <div class="spinner-border mb-3"></div>
                    @if (!approved2FA)
                    {
                        <p>Please approve login on your mobile app <span class="dots"></span></p>
                    }
                    else
                    {
                        <p>2FA Approved, redirecting <span class="dots"></span></p>
                    }
                </div>
            </div>
        }
        @* else if (isWaitingProcess)
        {
            <div class="slide-from-right">
                <h4 class="text-center mb-3">Processing</h4>
                <div class="text-center">
                    <div class="spinner-border mb-3"></div>
                    @if (waitingProcessResult)
                    {
                        <p>@((MarkupString)waitingLine1)</p>
                        <p>@((MarkupString)waitingLine2)</p>
                    }
                    else
                    {
                        <p>Sending request <span class="dots"></span></p>
                    }
                </div>
            </div>
        } *@
        else
        {
            <div class="slide-from-right">
                
                <EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="Login">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <InputText class="form-control" @bind-Value="loginModel.Username" autocomplete="username" />
                        <ValidationMessage For="@(() => loginModel.Username)" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <InputText type="password" class="form-control" @bind-Value="loginModel.Password" autocomplete="current-password" />
                        <ValidationMessage For="@(() => loginModel.Password)" />
                    </div>

                    <button class="btn btn-primary w-100" type="submit">Login</button>
                </EditForm>

                <div class="text-center mt-3">
                    <a href="/forgot-password" class="text-decoration-none small">Forgot password?</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = "redirectUrl")]
    public string? RedirectUrl { get; set; }

    private LoginModel loginModel = new();
    private string? errorMessage;

    private string waitingLine1 = string.Empty;
    private string waitingLine2 = string.Empty;

    private bool isWaiting2FA = false;
    private bool approved2FA = false;
    private bool isWaitingProcess = false;
    private bool waitingProcessResult = false;

    private string? transactionId;

    protected async Task HandleLogin()
    {
        errorMessage = string.Empty;

        // var response = await Http.PostAsJsonAsync("api/auth/login", loginModel);
        // var result = await response.Content.ReadFromJsonAsync<LoginResponseModel>();
        Thread.Sleep(200);
        var result = new LoginResponseModel();
        if (loginModel.Password.StartsWith("e"))
            result.Status = "PASSWORD_EXPIRED";
        else if (loginModel.Password.StartsWith("u"))
            result.Status = "UNACTIVATE";
        else if (!loginModel.Password.Contains("Password123"))
            result.Status = "INVALID";
        else
            result.Status = "REQUIRES_2FA";

        var token = Uri.EscapeDataString(Protector.Protect(loginModel.Username, RedirectUrl ?? "/"));

        switch (result.Status)
        {
            case "SUCCESS":
                NavigationManager.NavigateTo(RedirectUrl ?? "/");
                break;

            case "INVALID":
                errorMessage = "Invalid username or password";
                break;

            case "PASSWORD_EXPIRED":
                NavigationManager.NavigateTo($"/change-password?token={token}");
                break;

            case "UNACTIVATE":
                NavigationManager.NavigateTo($"/reset-password?token={token}");
                break;

            case "REQUIRES_2FA":
                isWaiting2FA = true;
                transactionId = result.TransactionId;
                await Task.Delay(7000);
                approved2FA = true;
                StateHasChanged();
                await Task.Delay(2000);
                NavigationManager.NavigateTo(RedirectUrl ?? "/");
                break;
        }
    }

    public class LoginResponseModel
    {
        public string Status { get; set; } = "SUCCESS";
        public string? TransactionId { get; set; }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Username is required")]
        public string Username { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is required")]
        public string Password { get; set; } = string.Empty;
    }
}
